<script type='text/ejs' id='detailEditCommentEdit'>
    <div class="comment" data-id="<%= id %>">
        <div class="person <%= author.getStatus() %>" <%
            if (author.noAvatar || !author.avatar) {
                %>style="background-color: <%= author.avatarColor %>;" <%
            } else {
                %>style='background-image: url("<%= author.bigAvatar %>")'<%
            }
            %> title="<%= author.getFullName() %>">

            <span></span>
            <% if (author.noAvatar || !author.avatar) { %><%= author.avatarLetters %><% } %>
        </div>

        <div class="commentContent">
            <div class="editor">
                <label class="time-logged">
                    <% var loggedTime = false;
                    if (typeof minutes !== 'undefined') {
                    loggedTime = Date.toPlanFormat(minutes);
                    } %>
                    <i></i>
                    <span class='worklog-ph jsWorklogPh'><?= $this->t('SPENT'); ?></span>
                    <input class="comment-worklog jsCommentTime <% if (loggedTime) { %>jsHasWorklog<% } %>" <% if (loggedTime) { %>value="<%= loggedTime %>"<% } %>/>
                </label>
                <textarea></textarea>
            </div>
        </div>
        <div class="files js-commentEdit-files" id="jsCommentEditFiles<%= id %>">
            <div class="content"></div>
            <div class="upload" style="display: none;">
                <form action="" method="post" enctype="multipart/form-data">
                    <input id="file_upload_commentEdit<%= id %>" name="file_upload" type="file" multiple="true">
                    <div class="clear"></div>
                    <div id="queue"></div>
                </form>
            </div>
        </div>
        <a class="cancelLink jsCancelEditComment" href="#"><%= String._('CANCEL') %></a>
        <a class="thin-green-button jsSaveEditComment" href="#"><%= String._('OK') %></a>
        <a href="javascript:void(0);" class="comment-dropzone-toggler js-dropzone-toggler"><span><%= String._('UPLOAD_FILES') %></span></a>
        <div class="clear"></div>
    </div>
</script>
