<script type='text/ejs' id='confirmLeadConvert'>
    <h2 class="header"><?= $this->t("LEAD_CONVERT"); ?></h2>
    <br/>
    <br/>
    <form class="js-lead-convert">
        <h2></h2>

        <div class="inputs">
            <label><input type="radio" class="js-tab-switcher" data-scope="contact"
                                                                   data-tab="convert_contact_new" name="convertContact"
                                                                   value="Y" checked> <?= $this->t("LEAD_CONVERT_CONTACT"); ?> </label>&nbsp;&nbsp;&nbsp;
            <label><input type="radio" class="js-tab-switcher" data-scope="contact"
                                                                data-tab="convert_contact_list" name="convertContact"
                                                                value="N"> <?= $this->t("LEAD_CONVERT_LIST"); ?></label>
            <br/><br/>

            <div class="tab js-tab-content" id="convert_contact_new" data-scope="contact">
                <label>
                    <?= $this->t("LEAD_CONVERT_LASTNAME"); ?>:
                    <input type="text" name="contactLastName" class="" value="<%= leadModel.lastName %>"/>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t("LEAD_CONVERT_NAME"); ?>:
                    <input type="text" name="contactName" class="" value="<%= leadModel.name %>"/>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_ACCESS'); ?>
                    <input type="hidden" name="contactOpened" value="N">
                    <input type="checkbox" name="contactOpened" value="Y" checked>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_EXPORT'); ?>
                    <input type="hidden" name="contactExport" value="N">
                    <input type="checkbox" name="contactExport" value="Y" checked>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_CONTACT_TYPE'); ?>
                    <select name="contactTypeId">
                        <? foreach (Model_Db_Backend_Lead::getContactTypeList() as $id => $title) : ?>
                        <option value="<?= $id; ?>"><?= $title; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_SOURCE'); ?>
                    <select name="contactSourceId">
                        <? foreach (Model_Db_Backend_Lead::getContactSourceList() as $id => $title) : ?>
                        <option value="<?= $id; ?>"><?= $title; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
            </div>

            <div class="tab js-tab-content" id="convert_contact_list" data-scope="contact" style="display: none;">
                <label>
                    <?= $this->t('LEAD_CONVERT_CONTACT_CHOOSE'); ?>
                    <select name="contactContactId">
                        <? foreach (Model_Db_Backend_CrmContact::getRefList() as $contactId => $contactName) : ?>
                            <option value="<?= $contactId; ?>"><?= $contactName; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
            </div>
        </div>

        <br/>
        <hr/>
        <br/>

        <div class="inputs">
            <label><input type="radio" class="js-tab-switcher" data-scope="company"
                          data-tab="convert_company_new" name="convertCompany"
                          value="Y"> <?= $this->t("LEAD_CONVERT_COMPANY"); ?> </label>&nbsp;&nbsp;&nbsp;
            <label><input type="radio" class="js-tab-switcher" data-scope="company"
                          data-tab="convert_company_list" name="convertCompany"
                          value="N" checked> <?= $this->t("LEAD_CONVERT_LIST"); ?></label>
            <br/><br/>
            <div class="tab js-tab-content" id="convert_company_new" data-scope="company" style="display: none;">
                <label>
                    <?= $this->t("LEAD_CONVERT_COMPANY_TITLE"); ?>:
                    <input type="text" name="companyTitle" value="<%= leadModel.title %>"/>
                </label>
            </div>
            <div class="tab js-tab-content" id="convert_company_list" data-scope="company">
                <label>
                    <?= $this->t('LEAD_CONVERT_COMPANY_CHOOSE'); ?>
                    <select name="companyCompanyId">
                        <? foreach (Model_Db_Backend_CrmCompany::getRefList() as $contactId => $contactName) : ?>
                            <option value="<?= $contactId; ?>"><?= $contactName; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
            </div>
        </div>

        <br/>
        <hr/>
        <br/>

        <div class="inputs">
            <label><input type="hidden" value="N" name="convertDeal"><input type="checkbox" name="convertDeal" class="js-deal-toggle" value="Y" /> <?= $this->t('LEAD_CONVERT_DEAL'); ?></label>

                <br/>
                <br/>

            <div class="js-deal-form" style="display: none;">
                <label>
                    <?= $this->t('LEAD_CONVERT_TITLE'); ?>
                    <input type="text" name="dealTitle" class="" value="<%= leadModel.title %>"/>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_DEAL_STAGE'); ?>
                    <select name="dealStageId">
                        <? foreach (Model_Db_Backend_CrmDeal::getStageList() as $id => $title) : ?>
                            <option value="<?= $id; ?>"><?= $title; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_DEAL_CURRENCY'); ?>
                    <select name="dealCurrencyId">
                        <? foreach (Model_Db_Backend_CrmDeal::getCurrencyList() as $id => $title) : ?>
                            <option value="<?= $id; ?>"><?= $title; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_DEAL_SUM'); ?>
                    <input type="text" name="dealOpportunity" class="" value="<%= leadModel.opportunity %>"/>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_DEAL_POSSIBILITY'); ?>
                    <input type="text" name="dealPossibility" class="" value=""/>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_DEAL_TYPE'); ?>
                    <select name="dealTypeId">
                        <? foreach (Model_Db_Backend_CrmDeal::getTypeList() as $id => $title) : ?>
                            <option value="<?= $id; ?>"><?= $title; ?></option>
                        <? endforeach; ?>
                    </select>
                </label>
                <br/>
                <br/>
                <label>
                    <?= $this->t('LEAD_CONVERT_ACCESS'); ?>
                    <input type="hidden" name="dealOpened" value="N">
                    <input type="checkbox" name="dealOpened" value="Y" checked>
                </label>
            </div>
        </div>
    </form>
    <div class="clear"></div>
</script>
