<script type="text/ejs" id="taskResponsiblesBlock">
    <p><?= $this->t('RESPONSIBLES') ?></p>
    <% for (var indAcc=0; indAcc < accompliceList.length; indAcc++) { %>
        <%== $.View('taskAccompliceItem', accompliceList[indAcc]) %>
    <% } %>
    <div title="<?= $this->t('ADD_A_MEMBER') ?>" class="add"></div>
</script>

<script type='text/ejs' id='taskAccompliceItem'>
    <div class="person miniitem <%= user.getStatus() %>" data-id="<%= id %>" <%
        if (responsible[ind].noAvatar || !responsible[ind].avatar) { %>
            %>style="background-color: url('<%= user.avatarColor %>');"<%
        <% } else if (user.avatar) {
            %>style="background-image: url('<%= user.avatar %>');"<%
        } %> title="<%= user.getFullName() %>"><%
        if (responsible[ind].noAvatar || !responsible[ind].avatar) {
            %><%= user.avatarLetters %><%
        } %><u></u><span></span>
    </div>
</script>

<script type='text/ejs' id='taskResponsible'>
    <%== $.View('gridTaskResponsible', {responsible: responsible})%>
</script>

<script type='text/ejs' id='taskResponsiblePlanning'>
    <dt><?= $this->t('RESPONSIBLE') ?>:</dt>
    <dd><%== $.View('gridTaskResponsible', {responsible: responsible})%></dd>
</script>