<script type="text/ejs" id="taskDetailEditBlockSuppose">
    <div class="header">
        <div class="inner">
            <i></i>
            <h3><i class='hiddenCopyableText'><br></i><?= $this->t('SUPPOSE') ?><a href="javascript:void(0)" class="hide" data-hide-text="<?= $this->t('HIDE'); ?>"></a></h3>
        </div>
    </div>
    <div class="content">
        <dl class="propList">
            <dt title="<?= $this->t('START_FROM_TITLE') ?>"><?= $this->t('START_FROM') ?>: </dt>
            <dd class="analysisDateRange">
                <div class="dateSelectorOpener"></div>
                <span title="<?= $this->t('START_FROM_TO_TITLE') ?>"><?= $this->t('START_FROM_TO') ?></span>
                <div class="dateSelectorOpener"></div>
            </dd>
        </dl>

        <dl class="propList js-source-switch">
            <dt title="<?= $this->t('SOURCE'); ?>"><?= $this->t('SOURCE'); ?>: </dt>
            <dd class="source-switch">
                <label class="js-ga-source"><input type="radio" name="an_source" class="styled" value="ga"
                    <% if (model.gaAuthToken) { %>checked<% } %>
                    <% if (!model.gaAuthToken && !projectModel.gaAuthToken) { %>disabled<% } %>
                    ><i>&nbsp;</i> <span class="ga-label">&nbsp;</span></label>
                <label class="js-ym-source"><input type="radio" name="an_source" class="styled" value="ym"
                    <% if (model.ymAuthToken) { %> checked <% } %>
                    <% if (!model.ymAuthToken && !projectModel.ymAuthToken) { %>disabled<% } %>
                    ><i>&nbsp;</i> <span class="ym-label">&nbsp;</span></label>
                    <% if (model.gaAuthToken || model.ymAuthToken) { %><a href="javascript:void(0)" class="js-an-reset"><?= $this->t('DISCONNECT'); ?></a><% } %>
            </dd>
        </dl>


        <dl class="propList counter js-counter"></dl>
        <dl class="propList profile js-profilelist"></dl>
        <dl class="propList goal js-goal"></dl>

        <dl class="propList measure js-measure"></dl>
    </div>
</script>

<script type="text/ejs" id="taskDetailEditBlockSupposeCounter">
    <dt title="<?= $this->t('COUNTER'); ?>"><?= $this->t('COUNTER'); ?>: </dt>
    <dd>
        <select data-placeholder="<?= $this->t('COUNTER_SELECT'); ?>">
            <option></option>
            <% var counter;
            for (var i = 0; i < this.counters.length; i++) {
                counter = this.counters[i]; %>
                <option value="<%= counter.id %>" <% if (counter.accountid) { %>data-account_id="<%= counter.accountid %>"<% } %>
                    <% if (this.counterId && this.counterId == counter.id) { %>selected<% } %>><%= counter.name %></option>
            <% } %>
        </select>
    </dd>
</script>

<script type="text/ejs" id="taskDetailEditBlockSupposeProfile">
    <dt title="<?= $this->t('PROFILE_VIEW'); ?>"><?= $this->t('PROFILE_VIEW'); ?>: </dt>
    <dd>
        <select data-placeholder="<?= $this->t('PROFILE_VIEW'); ?>">
            <option></option>
            <% var profile;
            for (var i = 0; i < this.profiles.length; i++) {
                profile = this.profiles[i]; %>
                <option value="<%= profile.id %>"<% if (this.profileId && this.profileId == profile.id) { %>selected<% } %>><%= profile.name %></option>
            <% } %>
        </select>
    </dd>
</script>

<script type="text/ejs" id="taskDetailEditBlockSupposeGoal">
    <dt title="<?= $this->t('GOAL'); ?>"><?= $this->t('GOAL'); ?>: </dt>
    <dd>
        <select data-placeholder="<?= $this->t('GOAL_SELECT'); ?>">
            <option></option>
            <% var goal;
            for (var i = 0; i < this.goals.length; i++) {
                goal = this.goals[i]; %>
                <option value="<%= goal.id %>" <% if (this.goalId && this.goalId == goal.id) { %>selected<% } %>><%= goal.name %></option>
            <% } %>
        </select>
    </dd>
</script>

<script type="text/ejs" id="taskDetailEditBlockSupposeMeasure">
    <% var supposeState = model.getSupposeState(); %>
    <dt title="<?= $this->t('MEASURE'); ?>"><?= $this->t('MEASURE'); ?>: </dt>
    <dd>
        <label><input type="radio" name="measure_type" class="styled" value="1"<% if (model.measureType == 1) { %> checked<% } %>><i>&nbsp;</i> <?= $this->t('MORE'); ?></label>
        <label><input type="radio" name="measure_type" class="styled" value="-1"<% if (model.measureType == -1) { %> checked<% } %>><i>&nbsp;</i> <?= $this->t('LESS'); ?></label>
        <label><input type="text" name="measure_value" placeholder="<?= $this->t('VALUE'); ?>" value="<%= model.measureValue %>" /></label>
        <% if (typeof model.goalReaches !== 'undefined') { %>
            <i class="miniblock goal-reaches"><b></b> <%= model.goalReaches %></i>
        <% } %>
        <% if (supposeState > 0) { %>
            <i class="thumbsUp"></i>
        <% } else if (supposeState < 0) { %>
            <i class="thumbsDown"></i>
        <% } %>
        <% if (typeof model.goalReaches !== 'undefined') { %>
            <a href="javascript:void(0);" class="js-suppose-chart"><?= $this->t('CHART'); ?></a>
        <% } %>
    </dd>
</script>

<script type="text/ejs" id="tplSupposeChart">
    <div class="question sprint-charts suppose-chart">
        <div class="closePopup jsOk"></div>
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>">
            <div class="jsCharts">
                <div class="title-row jsTitleRow">
                    <h4><?= $this->t('SUPPOSE_CHART'); ?></h4>
                    <div class="clear"></div>
                </div>
                <div class="chart-wrapper jsChartWrapper">
                    <% if (supposeState > 0) { %>
                        <i class="thumbsUp"></i>
                    <% } else if (supposeState < 0) { %>
                        <i class="thumbsDown"></i>
                    <% } %>
                    <div class="jsChart"></div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="thin-green-button jsOk"><?= $this->t('CLOSE'); ?></div>
        </div>
    </div>
</script>
