<script type="text/ejs" id="reportsPeriodTable">
<table class="reports-table js-period-table">
    <thead>
    <tr>
        <th class="check-cell"></th>
        <th class="id-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'id') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="id" data-order="<%= sortOrder %>">id</a></th>
        <th class="status-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'realStatus') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="realStatus" data-order="<%= sortOrder %>"><?= $this->t('STATUS'); ?>&nbsp;</a></th>
        <th class="column-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'columnIndex') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="columnIndex" data-order="<%= sortOrder %>"><?= $this->t('COLUMN'); ?></a></th>
        <th><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'title') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="title" data-order="<%= sortOrder %>"><?= $this->t('TASK'); ?></a></th>
        <? if ($this->user->IS_MANAGER) : ?>
            <th class="estimate-dev-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimate') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimate" data-order="<%= sortOrder %>"><?= $this->t('PLAN_DEV'); ?></a></th>
            <th class="elapsed-dev-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'elapsedDev') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="elapsedDev" data-order="<%= sortOrder %>"><?= $this->t('ELAPSED_DEV'); ?></a></th>
        <? endif; ?>
        <th class="estimate-from-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimateCustom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimateCustom" data-order="<%= sortOrder %>"><?= $this->t('PLAN_FROM'); ?></a></th>
        <th class="estimate-to-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimateCustomTo') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimateCustomTo" data-order="<%= sortOrder %>"><?= $this->t('PLAN_TO'); ?></a></th>
        <th class="elapsed-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'elapsedCustom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="elapsedCustom" data-order="<%= sortOrder %>"><?= $this->t('FACT'); ?></a></th>
        <th class="sum-from-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumFrom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumFrom" data-order="<%= sortOrder %>"><?= $this->t('SUM_FROM'); ?></a></th>
        <th class="sum-to-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumTo') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumTo" data-order="<%= sortOrder %>"><?= $this->t('SUM_TO'); ?></a></th>
        <th class="sum-fact-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumFact') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumFact" data-order="<%= sortOrder %>"><?= $this->t('SUM_FACT'); ?></a></th>
    </tr>
    </thead>
    <tbody>
    <% for (var i = 0; i < sprintList.length; i++) {
        var sprint = sprintList[i]; %>
        <tr class="sprint-row js-sprint-row<% if (sprint.archived) { %> archived<% } else { %> expanded<% } %>" data-sprint_id="<%= sprint.sprintId %>">
            <th class="checkbox"><? if ($this->user->IS_MANAGER) : ?><input type="checkbox" class="sprint-checkbox jsSprintCheckbox" data-sprint_id="<%= sprint.sprintId %>" /><? endif; ?></th>
            <th><? if ($this->user->IS_MANAGER) : ?><a href="javascript:void(0);" class="sprint-actions-trigger js-sprint-actions" data-sprint_id="<%= sprint.sprintId %>" title="<?= $this->t('ACTIONS'); ?>"></a><? endif; ?></th>
            <th colspan="<? if ($this->user->IS_MANAGER) : ?>11<? else : ?>9<? endif; ?>">
                <div class="sprint-title js-sprint-title" title="<%== sprint.tplName %>" data-real_name="<%== sprint.title %>"><%== sprint.tplName %></div>
                <div class="act-col">
                    <% if (sprint.archived) { %>
                        <%= Date.toPlanFormat(parseInt(sprint.statusElapsedTotal * 60, 10), true) %> / <%= sprint.statusElapsedPriceTotal %> р.
                    <% } %>
                    <% if (sprint.sprintId != 'empty') { %>
                        <? if (class_exists('XMLWriter')) : ?>
                            <span class="export-block">
                                <a href="javascript:void(0)" class="js-export-act"><i class="ico ico-xls-white">&nbsp;</i> <?= $this->t('REPORT_MAKE_XLS'); ?></a>
                            </span>
                        <? endif; ?>
                    <% } %>
                    <? if ($this->user->IS_MANAGER) : ?>
                        <% if (sprint.sprintId != 'empty') { %>
                            <% if (!sprint.archived) { %>
                                <span class="export-block">
                                    <a href="javascript:void(0)" class="jsButtonToArchive"><i class="ico ico-archive-white">&nbsp;</i> <?= $this->t('REPORTS_SPRINT_MENU_TOARCHIVE'); ?></a>
                                </span>
                            <% } %>
                        <% } %>
                    <? endif; ?>
                    <% if (sprint.archived) { %>
                        <span class="closed-label"><?= $this->t('SPRINT_CLOSED'); ?></span>
                    <% } %>
                </div>
            </th>
        </tr>
        <% if (!sprint.archived) { %>
            <%== $.View('reportsPeriodSprintBody', { sprint: sprint, urlprefix: urlprefix }) %>
        <% } %>
    <% } %>
    </tbody>
</table>
</script>

<script type="text/ejs" id="reportsArchiveTable">
<table class="reports-table js-period-table">
    <thead>
    <tr>
        <th class="id-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'id') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="id" data-order="<%= sortOrder %>">id</a></th>
        <th class="status-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'realStatus') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="realStatus" data-order="<%= sortOrder %>"><?= $this->t('STATUS'); ?>&nbsp;</a></th>
        <th class="column-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sprintTitle') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sprintTitle" data-order="<%= sortOrder %>"><?= $this->t('SPRINT'); ?></a></th>
        <th class="column-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'columnIndex') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="columnIndex" data-order="<%= sortOrder %>"><?= $this->t('COLUMN'); ?></a></th>
        <th><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'title') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="title" data-order="<%= sortOrder %>"><?= $this->t('TASK'); ?></a></th>
        <? if ($this->user->IS_MANAGER) : ?>
            <th class="estimate-dev-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimate') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimate" data-order="<%= sortOrder %>"><?= $this->t('PLAN_DEV'); ?></a></th>
            <th class="elapsed-dev-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'elapsedDev') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="elapsedDev" data-order="<%= sortOrder %>"><?= $this->t('ELAPSED_DEV'); ?></a></th>
        <? endif; ?>
        <th class="estimate-from-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimateCustom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimateCustom" data-order="<%= sortOrder %>"><?= $this->t('PLAN_FROM'); ?></a></th>
        <th class="estimate-to-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'timeEstimateCustomTo') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="timeEstimateCustomTo" data-order="<%= sortOrder %>"><?= $this->t('PLAN_TO'); ?></a></th>
        <th class="elapsed-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'elapsedCustom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="elapsedCustom" data-order="<%= sortOrder %>"><?= $this->t('FACT'); ?></a></th>
        <th class="sum-from-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumFrom') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumFrom" data-order="<%= sortOrder %>"><?= $this->t('SUM_FROM'); ?></a></th>
        <th class="sum-to-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumTo') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumTo" data-order="<%= sortOrder %>"><?= $this->t('SUM_TO'); ?></a></th>
        <th class="sum-fact-cell"><a href="javascript:void(0)" class="sort-trigger <%if (sortField == 'sumFact') {%>sort-<%=sortOrder%><%}%> js-sort-trigger" data-field="sumFact" data-order="<%= sortOrder %>"><?= $this->t('SUM_FACT'); ?></a></th>
    </tr>
    </thead>
    <tbody>
        <% for (var j = 0; j < this.taskList.length; j++) {
            var task = this.taskList[j]; %>
            <%== $.View('reportsArchiveRowTask', { task: task, urlprefix: urlprefix }) %>
        <% } %>
    </tbody>
</table>
<div class="pager">
    <% if (this.pageCount > 0) { %>
        <?= $this->t('PAGES'); ?>
    <% } %>
    <% for (var i = 1; i <= this.pageCount; i++) { %>
        <% if (i == this.currentPage) { %>
            <span><%= i %></span>
        <% } else { %>
            <a href="javascript:void(0)" data-page="<%= i %>" class="js-page"><%= i %></a>
        <% } %>
    <% } %>
</div>
</script>

<script type="text/ejs" id="reportsPeriodSprintBody">
    <% for (var j = 0; j < sprint.taskList.length; j++) {
        var task = sprint.taskList[j]; %>
        <%== $.View('reportsPeriodRowTask', { task: task, urlprefix: urlprefix, sprintId: sprint.sprintId }) %>
    <% } %>
    <tr class="total-row js-total-row" data-sprint_id="<%= sprint.sprintId %>">
        <td colspan="5"><b><%= String._('TOTAL') %></b></td>
        <? if ($this->user->IS_MANAGER) : ?>
            <td><%= sprint.statusEstDevTotal %></td>
            <td><%= sprint.statusElapsedDevTotal %></td>
        <? endif; ?>
        <td><%= sprint.statusEstTotal %></td>
        <td><%= sprint.statusEstToTotal %></td>
        <td><%= sprint.statusElapsedTotal %></td>
        <td><%= sprint.statusEstPriceTotal %></td>
        <td><%= sprint.statusEstToPriceTotal %></td>
        <td><%= sprint.statusElapsedPriceTotal %></td>
    </tr>
</script>

<script type="text/ejs" id="reportsPeriodRowTask">
     <tr class="js-task-row" data-sprint_id="<%= sprintId %>" data-task_id="<%= task.kanbanBoardTaskId %>">
        <td class="checkbox-cell js-checkbox-cell">
            <% if (parseInt(task.priority, 10) > 1) { %>
                <span class="important" title="<?= $this->t('IMPORTANT_TASK'); ?>"></span>
            <% } %>
            <? if ($this->user->IS_MANAGER) : ?>
                <input type="checkbox" class="jsTaskCheckbox" value="<%= task.id %>" <% if (task.checked) { %>checked<% } %> />
            <? endif; ?>
        </td>
        <td><a href="<%= urlprefix %>/scrumban/task/open/backendId/<%= task.id %>" style="<%= task.isBug ? 'color: red' : '' %>" target="_blank">#<%= task.id %></a></td>
        <td class="status-cell"><i class="ico ico-status ico-status-<%= task.status %>" title="<%= String._(task.statusText) %>">&nbsp;</i></td>
        <td><%= task.archived ? String._('ARCHIVE') : task.column %></td>
        <td><%= $.htmlspecialchars(task.title) %></td>
        <? if ($this->user->IS_MANAGER) : ?>
            <td class="js-time-edit" data-field="timeEstimate"><%= task.timeEstimate %></td>
            <td class="" data-field="elapsedDev"><%= task.elapsedDev %></td>
        <? endif; ?>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.estimateCustomFrom ? 'background-color: lightpink' : '' %>" data-field="estimateCustomFrom"><%= task.timeEstimateCustom %></td>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.estimateCustomTo ? 'background-color: lightpink' : '' %>" data-field="estimateCustomTo"><%= task.timeEstimateCustomTo %></td>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.elapsedCustom ? 'background-color: lightpink' : '' %>" data-field="elapsedCustom"><%= task.elapsedCustom %></td>
        <td><%= task.sumFrom %></td>
        <td><%= task.sumTo %></td>
        <td><%= task.sumFact %></td>
    </tr>
</script>

<script type="text/ejs" id="reportsArchiveRowTask">
     <tr class="js-task-row" data-task_id="<%= task.kanbanBoardTaskId %>">
        <td><a href="<%= urlprefix %>/scrumban/task/open/backendId/<%= task.id %>" style="<%= task.isBug ? 'color: red' : '' %>" target="_blank">#<%= task.id %></a></td>
        <td class="status-cell"><i class="ico ico-status ico-status-<%= task.status %>" title="<%= String._(task.statusText) %>">&nbsp;</i></td>
        <td><%= task.sprintTitle ? task.sprintTitle : String._('BOARD_UNASSIGNED') %></td>
        <td><%= task.column %></td>
        <td><%= task.title %></td>
        <? if ($this->user->IS_MANAGER) : ?>
            <td class="js-time-edit" data-field="timeEstimate"><%= task.timeEstimate %></td>
            <td class="" data-field="elapsedDev"><%= task.elapsedDev %></td>
        <? endif; ?>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.estimateCustomFrom ? 'background-color: lightpink' : '' %>" data-field="estimateCustomFrom"><%= task.timeEstimateCustom %></td>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.estimateCustomTo ? 'background-color: lightpink' : '' %>" data-field="estimateCustomTo"><%= task.timeEstimateCustomTo %></td>
        <td class="<? if ($this->user->IS_MANAGER) : ?>js-time-edit<? endif; ?>" style="<%= task.isBug && task.elapsedCustom ? 'background-color: lightpink' : '' %>" data-field="elapsedCustom"><%= task.elapsedCustom %></td>
        <td><%= task.sumFrom %></td>
        <td><%= task.sumTo %></td>
        <td><%= task.sumFact %></td>
    </tr>
</script>

<script type="text/ejs" id="reportsPeriodStat">
    <span class="count-block"><?= $this->t('REPORTS_TASKS'); ?>:
        <span title="<?= $this->t('TASKS_NEW'); ?>"><%= this.statusStat.new.count %></span> /
        <span title="<?= $this->t('TASKS_FINISHED'); ?>"><%= this.statusStat.finished.count %></span> /
        <span title="<?= $this->t('TASKS_IN_PROGRESS'); ?>"><%= this.statusStat.accepted.count %></span>
        <span class="budget-block"><?= $this->t('BUDGET_LABEL'); ?>:
        <span title="<?= $this->t('TOTAL_PRICE_FROM'); ?>"><%= Math.round(this.budgetStat.from) %></span>&nbsp;&mdash;
        <span title="<?= $this->t('TOTAL_PRICE_TO'); ?>"><%= Math.round(this.budgetStat.to) %></span> /
        <span title="<?= $this->t('TOTAL_PRICE_FACT'); ?>"><%= Math.round(this.budgetStat.fact) %></span>
    </span>
</script>

<script type="text/ejs" id="reportsSprintMenu">
    <ul>
        <li><a href="javascript:void(0)" class="jsToSprint"><?= $this->t('REPORTS_SPRINT_MENU_TOSPRINT'); ?></a></li>
        <li><a href="javascript:void(0)" class="jsToArchive"><?= $this->t('REPORTS_SPRINT_MENU_TOARCHIVE'); ?></a></li>
        <% if (this.columnList && columnList.length) { %>
            <li><hr/></li>
            <% for (var i = 0; i < columnList.length; i++) { %>
            <li><a href="javascript:void(0)" class="jsToColumn" data-id="<%= columnList[i].id %>"><?= $this->t('REPORTS_SPRINT_MENU_TOCOLUMN'); ?> &laquo;<%= columnList[i].title %>&raquo;</a></li>
            <% }
        } %>
    </ul>
</script>

<script type="text/ejs" id="tplReportsExport">
    <div class="question reports-export">
        <div class="closePopup jsOk"></div>
        <div class="body<% if (addHtmlPadding) { %> padded<% } %>">
            <div class="title"><?= $this->t('REPORT_EXPORT'); ?></div>
            <div class="form-block">
                <? if (APPLICATION_BACKEND == 'bitrix') : ?>
                    <span class="period-title"><i class="ico ico-calendar">&nbsp;</i><?= $this->t('REPORT_PERIOD_TITLE'); ?></span>
                    <span class="label js-from-block">
                        <input type="text" size="12" name="from" value="<?= date('d.m.Y', time() - 3600 * 24 * 14); ?>" />
                    </span>
                    <span class="dash">&nbsp;</span>
                    <span class="label js-to-block">
                        <input type="text" size="12" name="to" value="<?= date('d.m.Y'); ?>" />
                    </span>
                    <div class="clear"></div>
                    <div class="btn-wrapper">
                        <button class="flat-green-button js-submit"><?= $this->t('DOWNLOAD'); ?></button>
                    </div>
                <? endif; ?>
                <div class="export-all">
                    <i class="ico ico-xls">&nbsp;</i><a href="javascript:void(0)" class="js-export-all"><?= $this->t('REPORT_EXPORT_ALL'); ?></a>
                </div>
            </div>
        </div>
    </div>
</script>
