<script type='text/ejs' id='popupSprintSelector'>
    <select name="sprintSelector">
        <%
        var excludeId = (typeof(excludeSprintId) !== 'undefined') ? excludeSprintId : false;
        var itemSelected;

        sprintList.sort(function(s1, s2) {
            return s1.sprintId > s2.sprintId ? 1 : -1;
        });

        if (hasArchived) {
            %><optgroup label="<?= $this->t('SPRINTS_ACTIVE'); ?>"><%
        }

        for (var i in sprintList) {
            if (sprintList[i].archived == "Y") continue;
            if (false !== excludeId && sprintList[i].sprintId == excludeId) continue;

            if (typeof sprintList[i].url === 'undefined') {
                sprintList[i].url = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': sprintList[i].sprintId});
            }
            itemSelected = (sprintList[i].sprintId == sprint.sprintId) ? 'selected' : '';
            %><option value="<%= sprintList[i].sprintId %>" <%= itemSelected %> data-url="<%= sprintList[i].url %>"><%= sprintList[i].title %></option><%
        }

        if (hasArchived) {
            %></optgroup><optgroup label="<?= $this->t('SPRINTS_FINISHED'); ?>"><%

            for (var i in sprintList) {
                if (sprintList[i].archived != "Y") continue;
                if (false !== excludeId && sprintList[i].sprintId == excludeId) continue;

                sprintList[i].url = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': sprintList[i].sprintId});
                itemSelected = (sprintList[i].sprintId == sprint.sprintId) ? 'selected' : '';
                %><option value="<%= sprintList[i].sprintId %>" <%= itemSelected %> data-url="<%= sprintList[i].url %>"><%= sprintList[i].title %></option><%
            }

            %></optgroup><%
        } %>
    </select>
</script>
