<script type="text/ejs" id="tplLeadView">
    <div class="body">
        <div class="inner">
            <div class="descr jsDescr">
                <span class="lineTitle single"><%= title %></span>
                <span class="lineDescr"><%= comments %></span>
            </div>
            <div class="icons jsIcons">
                <% if (responsible.noAvatar || !responsible.avatar) { %>
                    <div data-userId="<%= responsible.id %>" title="<%= responsible.getFullName() %>" <%
                        %> style="background-color: <%= responsible.avatarColor %>;"<%
                        %> class="responsible item peopleItem person mini <%= responsible.getStatus() %> popupOpener">
                        <span></span>
                        <%= responsible.avatarLetters %>
                        <u></u>
                    </div>
                <% } else { %>
                    <div data-userId="<%= responsible.id %>" title="<%= responsible.getFullName() %>" <%
                        if (responsible.avatar) { %>style="background-image: url('<%= responsible.avatar %>');"<% }
                        %> class="responsible item peopleItem person mini <%= responsible.getStatus() %> popupOpener">
                                    <span></span>
                    </div><%
                } %>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</script>
