<script type='text/ejs' id='taskDetailEditBlockMainDataPanel'>
    <div class="block mainData">
        <div class="header">
            <div class="inner">
                <div class="author <%= taskAuthor.getStatus() %>" style="background-image: url('<% if (taskAuthor.bigAvatar) { %><%= taskAuthor.bigAvatar %><% } %>');" title="<%= taskAuthor.getFullName() %>"><span><br><%= String._('TASK_AUTHOR') %>: <%= taskAuthor.getFullName() %><br><%= String._('TASK_TITLE') %>: </span></div>
                <div class="taskType">
                    <div class="taskAddPopup taskTypePopup popup">
                        <ul><%
                            var localTaskTypeId;
                            for (i in window.SCRUMBAN.taskTypeSorted) {
                            if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
                            localTaskTypeId = window.SCRUMBAN.taskTypeSorted[i].id;
                            %><li data-task-type="<%= localTaskTypeId %>" class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>"><i></i><span><%= window.SCRUMBAN.taskType[localTaskTypeId].title %></span></li><%
                            }
                            %></ul>
                    </div>
                    <i class="popupOpener" title="<%= window.SCRUMBAN.taskType[taskTypeId].title %>">&nbsp; <%= window.SCRUMBAN.taskType[taskTypeId].title %>: </i><span class="popupOpener task-code"><%= code %><%= id %></span>
                </div>
                <h3 class="title jsTitle"><%= $.htmlspecialchars(title) %></h3>
            </div>
        </div>
        <div class="content jsDescription">
            <i class='hiddenCopyableText'><br><?= $this->t('TASK_DESCRIPTION') ?>: <br></i>
            <% if (description) { %><%== description %><% } else { %><i><?= $this->t('ENTER_A_DESCRIPTION_TASK') ?></i><% } %>
        </div>
    </div>
</script>
