<script type="text/ejs" id="launchpadNotifyBlock">
    <div class="notify-page js-notify-page">
        <% for (var i = 0; i < this.feed.length; i++) {
            var notify = this.feed[i];
            if (i && i % 5 == 0) { %>
                </div>
                <div class="notify-page js-notify-page">
            <% } %>
            <a href="<%= notify.url %>" class="notify" target="_blank">
                <span title="<%= notify.user.getFullName() %>" class="peopleItem item <%= notify.user.getStatus() %>">
                    <% if (notify.user.noAvatar || !notify.user.avatar) { %>
                        <i style="background-color: <%= notify.user.avatarColor %>;"><%= notify.user.avatarLetters %></i>
                    <% } else { %>
                        <i <% if (notify.user.avatar) { %>style="background-image: url('<%= notify.user.avatar %>');" <% } %> ></i>
                    <% } %>
                    <span></span>
                </span>
                <span class="notify-right-block">
                    <span class="notify-user-name"><%= notify.user.getFullName() %></span>
                    <span class="notify-text"><%= notify.text %></span>
                </span>
                <span class="clear"></span>
            </a>
        <% } %>
    </div>
</script>
