<script type="text/ejs" id="launchpadSprintBlock">
    <b class="top-line"></b><b class="bottom-line"></b>
    <? if (!Model_Db_Backend_User::isExtranetUser()) : ?>
        <a href="<%= planningUrl %>" class="planning-link"><?= $this->t('PLANNING_BOARD'); ?> <i class="ico ico-plane">&nbsp;</i></a>
    <? endif; ?>
    <div class="sprint-list">
        <div class="sprints-title"><?= $this->t('TASK_BOARDS'); ?></div>
        <% for (var i = 0; i < sprintList.length; i++) { %>
            <div class="sprint">
                <i class="ico ico-sprint">&nbsp;</i>
                <a href="<%= sprintList[i].url %>" class="sprint-title"><%= sprintList[i].title %></a>
            </div>
        <% } %>
        <div class="sprint">
            <i class="ico ico-backlog">&nbsp;</i>
            <a href="<%= backlogUrl %>" class="sprint-title"><?= $this->t('BOARD_UNASSIGNED'); ?></a>
        </div>
    </div>
    <? if (!Model_Db_Backend_User::isExtranetUser()) : ?>
        <a href="<%= projectUrl %>" class="project-settings"><span><?= $this->t('PROJECT_SETTINGS'); ?></span></a>
    <? endif; ?>
</script>
