<script type="text/ejs" id="tplGridRank">
    <div class="grid-rank-wrapper">
        <div class="grid-task-type <%= taskTypeClass %> jsGridTaskType">
            <div class="taskAddPopup taskTypePopup popup grid-taskType-popup">
                <ul><%
                    var localTaskTypeId;
                    for (i in window.SCRUMBAN.taskTypeSorted) {
                    if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
                    localTaskTypeId = window.SCRUMBAN.taskTypeSorted[i].id;
                    %><li data-task-type="<%= localTaskTypeId %>" class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>"><i></i><span><%= window.SCRUMBAN.taskType[localTaskTypeId].title %></span></li><%
                    }
                    %></ul>
            </div>
            <i class="popupOpener"></i>
        </div>
        <div class="editBlock task-rank jsGridRank" title="<%= rankTitle %>">
            <% if (this.rank.length == 0) { %>
            <span class="rank-empty" title="<?= $this->t('GRID_RANK_TITLE_EMPTY'); ?>"></span>
            <% } else { %>
            <%= this.rank %>
            <% } %>
        </div>
        <div class="grid-task-expand jsGridTaskExpand"></div>
    </div>
</script>
