<script type="text/ejs" id="peopleResponsible">
    <%
    if (responsible.length > 0) {
        for (var ind=0; responsible.length > ind; ind++) {
            if (responsible[ind].noAvatar || !responsible[ind].avatar) { %>
                <div data-userId="<%= responsible[ind].id %>" title="<%= responsible[ind].getFullName() %>" <%
                    %> style="background-color: <%= responsible[ind].avatarColor %>;"<%
                    %> class="responsible item peopleItem person mini <%= responsible[ind].getStatus() %>">
                    <span></span>
                    <%= responsible[ind].avatarLetters %>
                    <u></u>
                </div>
            <% } else { %>
                <div data-userId="<%= responsible[ind].id %>" title="<%= responsible[ind].getFullName() %>" <%
                    if (responsible[ind].avatar) { %>style="background-image: url('<%= responsible[ind].avatar %>');"<% }
                    %> class="responsible item peopleItem person mini <%= responsible[ind].getStatus() %>">
                    <u></u>
                    <span></span>
                </div><%
            }
        }
    } else {
        %><div class="responsible"></div><%
    } %>
</script>

<script type="text/ejs" id="taskViewResponsible">
    <%
    if (responsible.length > 0) {
        for (var ind=0; responsible.length > ind; ind++) {
            if (responsible[ind].noAvatar || !responsible[ind].avatar) { %>
                <div data-userId="<%= responsible[ind].id %>" title="<%= responsible[ind].getFullName() %>" <%
                    %> style="background-color: <%= responsible[ind].avatarColor %>;"<%
                    %> class="responsible item peopleItem person mini <%= responsible[ind].getStatus() %> popupOpener">
                    <span></span>
                    <%= responsible[ind].avatarLetters %>
                    <u></u>
                </div>
            <% } else { %>
                <div data-userId="<%= responsible[ind].id %>" title="<%= responsible[ind].getFullName() %>" <%
                if (responsible[ind].avatar) { %>style="background-image: url('<%= responsible[ind].avatar %>');"<% }
                %> class="responsible item peopleItem person mini <%= responsible[ind].getStatus() %> popupOpener">
                <span></span>
                </div><%
            }
        }
    } else {
        %><div data-userId="-1" title="<?= $this->t('TASK_WITHOUT_RESPONSIBLE'); ?>" class="responsible item peopleItem person mini popupOpener noPeople"></div><%
    } %>
</script>
