<script type="text/ejs" id="tplTaskEdit">
    <div class="handle"></div>
    <div class="feed-post-menu-but menuIcon jsMenuIcon popupOpener"></div>
    <div class="body edit">
        <div class="inner">
            <div class="people"></div>
            <div class="title-icon">
                <div class="taskAddPopup taskTypePopup popup">
                    <ul><%
                        var localTaskTypeId;
                        for (i in window.SCRUMBAN.taskTypeSorted) {
                            if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
                            localTaskTypeId = window.SCRUMBAN.taskTypeSorted[i].id;
                            %><li data-task-type="<%= localTaskTypeId %>" class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>"><i></i><span><%= window.SCRUMBAN.taskType[localTaskTypeId].title %></span></li><%
                        }
                    %></ul>
                </div>
            </div>
            <div><textarea tabindex="1"><%== (model.description !== null ? model.description : '') %></textarea></div>
            <a href="#Ok" class="thin-green-button jsTaskSave" tabindex="2"><?= $this->t('OK') ?></a>
            <a href="#Cancel" class="cancelLink jsTaskCancel" tabindex="3"><?= $this->t('CANCEL') ?></a>
        </div>
        <div class="problem jsProblem"></div>
        <div class="clear"></div>
    </div>
</script>
