<script type='text/ejs' id='projectMemberItem'>
    <div data-userId="<%= user.id %>" class="person miniitem <%
        if (del) { %>del <% }
        %><%= user.getStatus() %><%
        if (user.id == ownerId) { %> admin<% }
        %>" <%
        if (user.noAvatar || !user.avatar) {
            %>style="background-color: <%= user.avatarColor %>;"<%
        } else if (user.avatar) {
            %>style="background-image: url('<%= user.avatar %>');"<%
        }
        %> title="<%= user.getFullName() %>">
        <% if (del) { %><u data-id="<%= user.id %>"></u><% } %>
        <span></span>
        <% if (user.noAvatar || !user.avatar) { %><%= user.avatarLetters %><% } %>
    </div>
</script>