<script type='text/ejs' id='projectPanelProjectOwner'>
    <div class='header'>
        <i></i>
        <% if (this.model.groupId && this.model.userList && this.model.userList.length) { %>
            <h3><?= $this->t('PROJECT_OWNER'); ?></h3><%
            var ownerUserObject = false;
            for (var i = 0; i < model.userList.length; i++) {
                if (model.userList[i].id == model.ownerId) {
                    ownerUserObject = model.userList[i];
                    break;
                }
            }
            if (ownerUserObject) {
                %><%== $.View('peopleItem', {user: ownerUserObject}) %><%
            }
        }

        if (isExtendedRightsManagement) {
            %><div class='selectitem'>
                <select <% if (!canEdit) { %> disabled <% } %> class='jsProjectRights'>
                    <option value="1" <% if (model.scrumbanEnabled == 1) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_FULL') ?></option>
                    <option value="2" <% if (model.scrumbanEnabled == 2) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_PART') ?></option>
                    <option value="0" <% if (model.scrumbanEnabled == 0) { %> selected <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_DONT') ?></option>
                </select>
                <br>
                <span data-enabled="1" <% if (model.scrumbanEnabled != 1) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_FULL_TEXT') ?></span>
                <span data-enabled="2" <% if (model.scrumbanEnabled != 2) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_PART_TEXT') ?></span>
                <span data-enabled="0" <% if (model.scrumbanEnabled != 0) { %> style="display:none;" <% } %>><?= $this->t('USE_SCRUMBAN_FOR_PROJECT_DONT_TEXT') ?></span>
            </div><%
        }

        if (window.SCRUMBAN.isFeatureEnabled('boards.support') && canEdit) {
            %>
            <? if (APPLICATION_BACKEND == 'bitrix') : ?>
                <div class="support-mode">
                    <label><input type="checkbox" class="js-important-notify-enabled" <% if (parseInt(model.notifyImportantTask, 10) > 0) { %>checked<% } %> /> <?= $this->t('PROJECT_IMPORTANT_NOTIFY_ENABLED'); ?></label>
                </div>
            <? endif; ?>
            <div class="support-mode">
                <label><input type="checkbox" class="js-archive-sprint-hide-enabled" <% if (parseInt(model.archiveSprintHide, 10) > 0) { %>checked<% } %> /> <?= $this->t('PROJECT_ARCHIVE_SPRINT_HIDE_ENABLED'); ?></label>
            </div>
            <div class="support-mode">
                <label><input type="checkbox" class="js-support-enabled" <% if (parseInt(model.supportEnabled, 10) > 0) { %>checked<% } %> <% if (parseInt(model.kanbanSyncType, 10) > 0) { %>disabled<% } %> /> <?= $this->t('PROJECT_SUPPORT_ENABLED'); ?></label>
            </div>
            <?/*<div class="price-rate-block">
                <div class="project-budget-wrapper">
                    <label for="projectBudget" style=""><?= $this->t('BUDGET_LABEL'); ?>:</label>
                    <input type="text" id="projectBudget" class="js-budget" value="<%= this.model.budget %>" />
                </div>
                <div class="project-budget-wrapper">
                    <label for="projectBudgetInc"><?= $this->t('BUDGET_LABEL_INC'); ?>:</label>
                    <input type="text" id="projectBudgetInc" class="js-budget-inc" value="" />
                </div>
                <div class="clear"></div>
            </div>*/?>
            <div class="price-rate-block">
                <label for="projectPriceRate"><?= $this->t('PRICE_RATE_LABEL'); ?>:</label>
                <input type="text" id="projectPriceRate" class="js-price-rate" value="<%= this.model.priceRate %>" />
                <div class="clear"></div>
            </div>
            <div class="price-rate-block">
                <label for="projectPriceRateHigh"><?= $this->t('PRICE_RATE_HIGH_LABEL'); ?>:</label>
                <input type="text" id="projectPriceRateHigh" class="js-price-rate-high" value="<%= this.model.priceHighRate %>" />
                <div class="clear"></div>
            </div>
            <? if (APPLICATION_BACKEND == 'bitrix') : ?>
                <div class="price-rate-block">
                    <label for="projectReportEmail"><?= $this->t('PROJECT_REPORT_EMAIL'); ?>:</label>
                    <input type="text" id="projectReportEmail" class="js-report-email" value="<%= this.model.reportEmail %>" />
                    <div class="clear"></div>
                </div>
                <div class="price-rate-block">
                    <label for="projectReportDay"><?= $this->t('PROJECT_REPORT_WEEK_DATE'); ?>:</label>
                    <div class='selectitem'>
                        <select class="report-day js-report-day">
                            <% for (var i = 1; i <= 7; i++) { %>
                                <option value="<%= i %>" <% if (model.reportWeekDay == i) { %>selected<% } %>><%= String._('WEEK_DAY_' + i) %></option>
                            <% } %>
                        </select>
                        <select class="report-time js-report-time">
                            <% for (var i = 0; i <= 23; i++) { %>
                                <option value="<%= i %>" <% if (model.reportHour == i) { %>selected<% } %>><%= i %>:00</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="clear"></div>
                </div>
            <? endif; ?>
            <%
        }

        %>
    </div>
</script>
