<script type="text/ejs" id="tplTotalBoardProjectHeader">
    <div>
        <div class="btnCollapseExpand jsHideBoard"></div>
        <%
            var boardBlockUrl;
            if (project.sprintId !== null) {
                boardBlockUrl = $.String.sub(window.SCRUMBAN.routeList.sprint.index, {'sprintId': project.sprintId});
            } else if (project.groupId !== null) {
                boardBlockUrl = $.String.sub(window.SCRUMBAN.routeList.project.index, {'projectId': project.groupId});
            } else {
                boardBlockUrl = $.String.sub(window.SCRUMBAN.routeList.project.index, {'projectId': 'empty'});
            }
        %><a href='<%= boardBlockUrl %>' class="jsKanbanLink button thin"><?= $this->t('TASK_BOARD') ?></a>

        <img src='<%= project.image %>'><span>
        <i class="miniblock subtasks"><b></b><%= project.getTaskList().length %></i>
        <%
            if (project.groupId === null) {
                %><?= $this->t('TASK_WO_PROJECT'); ?><%
            } else {
                %><%= project.projectName %><%

                if (project.sprintId != null) {
                    %>, <%= project.sprintName %><%
                }
            }
        %></span>

    </div>
</script>
