<script type="text/ejs" id="usersPopup">
    <div class="popup">
        <select class="jsUserList"><%
            for (var i=0; i < users.length; i++) {
                %><option value="<%= users[i].id %>"<%

                if (users[i].noAvatar || !users[i].avatar) {
                    %> data-html="<abbr class='viewBlock' style='background-color: <%= users[i].avatarColor %>'><%= users[i].avatarLetters %></abbr><%= users[i].getFullName() %>"<%
                } else if (users[i].avatar) {
                    %> data-image="<%= users[i].avatar %>"<%
                }

                %> class="user-item peopleItem" data-class="<%= users[i].getStatus() %>" data-title="<%= users[i].getFullName() %>"><%=
                    users[i].getFullName()
                %></option><%
            }
        %></select>
    </div>
</script>
