<script type='text/ejs' id='taskWatcherItem'>
    <div data-identity="<%= this.identity() %>" data-id="<%= this.isNew() ? false : id %>" data-user-id="<%= user.id %>" title="<%= user.getFullName() %>" class="peopleItem item <%= user.getStatus() %>">
        <% if (user.noAvatar || !user.avatar) { %>
            <i style="background-color: <%= user.avatarColor %>;"><%= user.avatarLetters %></i>
        <% } else { %>
            <i <% if (user.avatar) { %>style="background-image: url('<%= user.avatar %>');" <% } %> ></i>
        <% } %>
        <span></span>
        <u></u>
    </div>
</script>