<script type='text/ejs' id='filterPanelTaskTypes'>
    <%
    var localTaskTypeId;
    for (i in window.SCRUMBAN.taskTypeSorted) {
        if (!window.SCRUMBAN.taskTypeSorted.hasOwnProperty(i)) continue;
        localTaskTypeId = parseInt(window.SCRUMBAN.taskTypeSorted[i].id, 10);
        %><option value="<%= localTaskTypeId %>" data-class="<%= window.SCRUMBAN.taskType[localTaskTypeId].cssClass %>" data-title="<%= window.SCRUMBAN.taskType[localTaskTypeId].title %>" <% if (this.data && this.data.selected.indexOf(localTaskTypeId) != -1) { %> selected <% } %>><%=
        window.SCRUMBAN.taskType[localTaskTypeId].title
        %></option><%
    } %>
</script>
<script type='text/ejs' id='filterPanelTaskStatus'>
    <%
    for (i in window.SCRUMBAN.taskStatus) {
        if (!window.SCRUMBAN.taskStatus.hasOwnProperty(i)) continue;
        %><option value="<%= i %>" data-class="<%= window.SCRUMBAN.taskStatus[i].cssClass %>" <% if (this.data && this.data.selected.indexOf(i) != -1) { %> selected <% } %>><%=
        window.SCRUMBAN.taskStatus[i].title
        %></option><%
    } %>
</script>
