<script type='text/ejs' id='taskChecklistEdit'>
    <div class="progressBar" data-total="6" data-done="3"><i class='hiddenCopyableText'></i><div class="filler" style="width: 50%"></div></div>
    <% var hasDods = false; %>
    <% $.each(dodList.columns, function(colId, column) { %>
    <% hasDods = true; %>
    <div class="dod-group jsDodGroupWrapper"data-colid="<%== colId %>">
        <div class="dod-group-title jsDodGroupTitle" ><%= column.title %></div>
        <div class="group-progress"><div class="progress-bar jsBar" style="width: <%= column.progress %>%;"></div></div>
        <div class="dod-group-list jsDodGroupList">
            <% $.each(column.dods, function(iDod, dod) { %>
            <div class="checkitem columnDod <% if (dod.isCheckedTask(checkDodList)) { %>item-checked<% } %>">
                <label class="view">
                <input type="checkbox" <% if (dod.isCheckedTask(checkDodList)) { %>checked="checked"<% }%> data-dodId="<%= dod.dodId %>" <% if (!this.canCheck) { %>disabled="disabled"<% } %> ><span><%= htmlspecialchars(dod.description) %></span>
                </label>
            </div>
            <% }); %>
        </div>
    </div>
    <% }); %>
    <div class="task-group jsDodGroupWrapper jsTaskGroup <% if (!hasDods) { %>no-border<% } %>" data-colid="-1">
        <div class="dod-group-title jsDodGroupTitle"><?= $this->t('TASK_DETAILS_CHECKLIST_TITLE'); ?></div>
        <div class="group-progress <% if (checkList.length == 0) { %>hidden<% } %>"><div class="progress-bar jsBar" style="width: <%== checkList.getProgress() %>%;"></div></div>
        <div class="dod-group-list jsDodGroupList">
            <div class="jsSortable">
                <% for (var iItem = 0; checkList.length > iItem; iItem++) { %>
                <%== $.View('taskCheckItemView', {iItem: checkList[iItem], taskId: id, canEdit: this.canEdit, canCheck: this.canCheck }) %>
                <% } %>
            </div>
        </div>
    </div>

    <% if (this.canEdit) { %>
    <div class="addCheckItem">
        <div class="checkitem">
            <div class="edit"><input type="text" name="description" class="styled">
                <div class="thin-green-button jsCheckItemSave"><?= $this->t('OK') ?></div>
                <a class="cancelLink jsCheckItemCancel"><?= $this->t('CANCEL') ?></a>
            </div>
            <span class="add"><i></i><?= $this->t('ADD_CHECKLIST_ITEM') ?></span>
        </div>
    </div>
    <% } %>
</script>
